<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="container" ng-controller="UserCreateController as user">
    <form method="post" ng-submit="user.signupUser()">
        <div class="form-group">
            <label for="name">Name</label>
            <input id="name" class="form-control" type="text" name="name" ng-model="user.userData.name">
        </div>
        <div class="form-group">
            <label for="username">Username</label>
            <input id="username" class="form-control" type="text" name="username" ng-model="user.userData.username">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input id="password" class="form-control" type="text" name="password" ng-model="user.userData.password">
        </div>
        <button class="btn btn-success" type="submit">Login</button>
    </form>
</div>
</body>
</html>