footer {
    background: #222222;
    color: white;
    text-align: center;
    padding: 15px 0px 10px;
    margin-top: 25px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.ngView {
    margin-bottom: 100px;
}

body {
    position: relative;
}

.heading {
    background: #222222;
    color: white;
    padding: 5px;
}

.article_detail {
    margin-top: 15px;
}