html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, serif;
}

.container {
    margin-bottom: 80px;
}

.header h1 {
    color: #000;
    font-size: 30px;
    font-weight: bold;
    text-transform: lowercase;
}

.card {
    overflow: hidden;
    position: relative;
    width: 23%;
    display: inline-block;
    margin: 0 2px;
    position: relative;
}

.title {
    color: #000;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
}

.developer {
    color: #afafaf ;
    font-size: 14px;
}

.price {
    color: #000;
    font-size: 14px;
    font-weight: 700;
    bottom: 100px;
    right: 0px;
    line-height: 60px;
    width: 60px;
    height: 60px;
    position: absolute;
    background: #fff;
    border-bottom:5px solid #000;
    text-align: center;
}

.btn {
    background: transparent;
    color: #000;
    border: 1px solid #000;
    font-size: 14px;
    font-weight: 200;
    padding:2px 10px;
    border-radius: 2px;
}

.btn:hover {
    color: rgb(255,80,80);
    background: rgba(255,80,80,0.25);
    transition: background 500ms;
    border: 1px solid rgb(255,80,80);
}

.btn-downloaded {
    background-color: #ababab ;
    color: #3f3f3f ;
}

.icon {
    width: 100%;
}


.day > div {
    font-weight: bold;
    line-height: 48px;
}

.weekday span {
    font-size: 18px;
    font-weight: bold;
}

.weekday p {
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
}

.weather img {
    width: 48px;
}

.high p,
.low p,
.hourly .temp {
    font-size: 16px;
}

.hourly {
    text-align: center;
    display: none;
}

.hourly .hour {
    font-weight: bold;
    font-size: 16px;
}

.hourly img {
    width: 24px;
}

.hourly p {
    margin: 16px 0;
}

.last {
    margin-bottom: 100px;
}


.item {
    cursor: pointer;
    margin: 0;
    padding: 0;
}
.item:hover {
    background: #000;
    text-decoration: none;
    transition: background 500ms;
}
p.author {
    color: #000;
    padding: 24px;
    text-align: left;
}
.item:hover p.author, .item:hover a {
    color: #fff;
    text-decoration: none;
}
.photo {
    margin: 0 0 80px;
}
.photo img {
    width: 100%;
}
.photo h2 {
    color: #000;
    padding: 20px 108px;
}
.photo p {
    color: #6f6f6f;
    margin: 0;
    padding: 0 108px 0;
}