<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script src="js/angular.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link href="css/mystyle.css" type="text/css" rel="stylesheet">
</head>
<body ng-app="myapp">
<div ng-controller="ngClassController" class="container">
    <!--Ví dụ 1-->
    <h2>Ví dụ 1</h2>
    <p ng-class="tenClass">My name is btt</p>
    <!--Ví dụ 2-->
    <h2>Ví dụ 2</h2>
    <p ng-class="[blue, big]">This is a example AngularJs</p>
    <input class="form-control" type="text" ng-model="blue" placeholder="Enter blue"><br>
    <input class="form-control" type="text" ng-model="big" placeholder="Enter big"><br>
    <!--Ví dụ 3-->
    <h2>Ví dụ 3</h2>

</div>
<!--module-->
<script src="js/app.js"></script>
<!--controller-->
<script src="js/controllers/ngClassController.js"></script>
<!--directive-->
</body>
</html>