<div id="search-component">
    <h4>Hero Search</h4>
    <input #searchBox id="search-box" (keyup)="search(searchBox.value)" />
    <div>
        <!--vì hàm search nó trả về một Observable của mảng hero. ngFor không thao được với nó-->
        <!--nên ta phải cho nó chạy qua async (AsyncPipe)-->
        <!--The async pipe subscribes to the Observable and produces the array of heroes to *ngFor-->
        <div *ngFor="let hero of heroes | async"
             (click)="gotoDetail(hero)" class="search-result" >
            {{hero.name}}
        </div>
    </div>
</div>
