.banner {
	background-image: url("../images/bg.jpg");
	color: white;
	background-size: cover;
}

.navbar {
	margin-bottom: 0px;
}

.right-column .carousel-inner img{
	    width: 100%;		
    max-height: 350px;
}

.right-column .carousel {
	margin-bottom: 15px;
}

#myTabContent {
	border: 1px solid #ddd;
    padding: 20px;
}
.nav-tabs {
	border: none;
}
.price {
	color: red;
}

.thumbnail:hover {
	    border-color: #337ab7;
}

footer {
background-color: #333;
color: white;
margin-top: 25px;
}

footer .row{
	padding-top: 35px;
	padding-bottom: 35px;
}