<html>
    <head>
        <link rel="stylesheet" href="/assets/style.css">
    </head>
    <body>
        <h1>Hello Person <%= ID.length%></h1>
        <h2>Query string : <%= Qstr%></h2>
    </body>
</html>